@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    padding: 32px;
   }
.row {
    width: 100%;
    max-width: 1280px;
}
.purple {
    color: #6415FF;
}
/* NAVBAR  */

.logo--img {
    height: 40px;
    width: 40px;
    margin-right: 0.75rem;
}
.logo--text {
    font-size: 24px;
    letter-spacing: 0.025em;
    line-height: 36px;
    color: #243E63;
    font-style: bold;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none #243e63 solid;
    text-decoration-thickness: auto;
    padding-bottom: .25rem;
    margin: 0 1.5rem 0 0;
    border: 0 solid transparent;
    cursor: pointer;
}



.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links--wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a__link {
    color: #243E63;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.025em;
}
.nav__link {
    margin: 0 24px;
}
.nav__link--login {
    margin-left: 48px;
    margin-right: 24px;
}
.nav__link--primary {
    padding: 10px 32px;
    border-radius: 9999px;
    background-color: #6415FF;
    margin: 0;
    line-height: 21px;
    font-weight: 600;
}
.a__link--primary {
    color: white;
}

/* Header  */
.header__heading {
    color: #1A202C;
    font-size: 36px;
}
.header__subheading {
    color: #243E63;
    font-size: 1rem;
    margin: 32px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:24px 0;
}
.header__left {
    width: 33%;
}
.header__right {
    width: 65%;
}
.header__right--img {
    width: 100%;
}
.header__input {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    padding-left: 20px;
    width: 100%;
    border-radius: 9999px;
    border: 1px solid #afb9c7;
    font-weight: 500;
    color: #243E63;
    font-size: 100%;
    
}
.header__input--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.header__btn {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    width: 10rem;
    line-height: 1;
    background-color: #6415FF;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.header__customers--img {
    width: 100%;
    margin-top: 16px;
    opacity: 0.5;
}
.header__customers--wrapper {
    margin-top: 80px;
}
.header__customers--text {
    color: #A0AEC0;
}